.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid var(--green-300);
  width: 60%;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 40px;
  height: 40px;
  background-color: var(--orange-300);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  z-index: 1;

  &:hover {
    background-color: var(--orange-500);
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

.errorIcon {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.errorTitle {
  margin: 0 0 1rem 0;
  font-size: 2.3rem;
}

.errorMessage {
  margin-top: 2rem;
}

.retryButton {
  padding: 0.5rem 3rem;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: var(--green-300);
  color: white;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  
  &:hover {
    background-color: var(--green-500);
  }
}