.principalContent {
    display: flex;
    align-items: flex-end;
    gap: 4rem;

    margin-top: 4rem;

    form {
        display: flex;
        flex-direction: column;

        padding: 2rem;
        font-weight: 500;

        border-radius: 8px;
        border: 4px solid var(--green-300);
        background: rgb(255, 255, 255);
        
        gap: 1rem;

        h2 {
            font-size: 1.4rem;
            font-weight: 600;
        }

        fieldset {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            gap: 1rem;
           
            border-radius: 8px;
 
            legend {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }

        label {
            display: flex;
            align-items: end;
            justify-content: right;
            gap: .6rem;
        }

        input:not([type=radio]) {
            width: 18rem;
            height: 2rem;
            padding: .6rem;
        }

        .associateCustomerLabels {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            gap: .4rem;
           
            input {
                align-self: center;
                cursor: pointer;
            }
        }

        button {
            width: 8rem;
            height: 2.4rem;
            align-self: flex-end;

            color: var(--gray-100);
            font-weight: 500;

            border: none;
            border-radius: 8px;

            background: var(--green-300);
            transition: background 300ms;
        }

        button:hover {
            background: var(--green-500);
        }
    }

}

.fieldsets {
    display: flex;
    gap: 1rem;
}